torchvision
braceexpand
webdataset
tqdm
wandb
einops
einops-exts
transformers==4.41.2
#torch
git+https://github.com/pytorch/pytorch.git@v2.4.0-rc8#egg=torch # Fix the NoneType error in transformer.forward without bias
pillow
sentencepiece
jupyter
evaluate
peft
accelerate
trl
huggingface_hub
bitsandbytes
matplotlib
ninja
